.Channel {
    display: flex;
}

.ChannelImage {
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.channelName {
    display: flex;
    align-items: center;

}

.descrption {
    display: flex;
    justify-content: center;
}

.Poster {
    width: 100%;
}

.details {
    display: flex;
}

label {
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.05);
    margin-left: 20px;
    padding: 10px;
}