@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,400;1,500&display=swap');


.filters {
    margin-top: 150px;
    padding: 20px;
}

.filtersButtons {
    padding-top: 20px;
    /* overflow-x: scroll; */
}

.Filter {
    /* width: 48px; */
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
    flex-shrink: 0;
    margin-right: 10px;
    color: white;

    /* Style */
    border-radius: 5px;
    border: 1px solid #7D7D7D;
    background: rgba(217, 217, 217, 0.00);
}

.FilterSelected {
    /* width: 48px; */
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
    flex-shrink: 0;
    margin-right: 10px;
    color: white;

    /* Style */
    border-radius: 5px;
    border: 1px solid #7D7D7D;
    background: rgba(217, 217, 217, 0.30);
}

.filters h1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 80% */
    letter-spacing: 0.5px;
}

@media (min-width: 600px) {
    .filters {
        margin-top: 80px;
        display: flex;
        align-items: center;
    }

    .filters h1 {
        margin-right: 30px;
    }

    .filtersButtons {
        padding-top: 0px;
    }
}