@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,400;1,500&display=swap');


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    /* Layout */
    height: 80px;
    /* box-sizing: border-box; */
    /* width: auto; */
    /* Style */
    background: #1A1A1A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;

    padding-top: 50px;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;
    
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between;
    align-content: space-between; */
    /* z-index: 9999; */
	transition: all 300ms ease-in-out;
}

.scroll-down header {
	
		transform: translate3d(0, -100%, 0);
        /* background-color: #3A881E; */
	
}

.scroll-up header{
	
		/* filter: drop-shadow(0 -10px 20px rgb(170, 170, 170)); */
	
}

header h1 {
    color: #FFF;
    width: fit-content;
    height: fit-content;
    text-align: left;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 57.143% */
    letter-spacing: 0.5px;

}

.Burger {
    justify-self: right;
    width: 20px;
    height: 20px;
}

.GlobalSearch {
    /* Layout */
    display: flex;
    width: 75%;
    height: 31.432px;
    /* min-width: 201px;
    max-width: 75%; */
    align-items: center;
    gap: 2.233px;
    flex-shrink: 0;
    padding: 10px;
    pointer-events:stroke;
    color: white;

    /* Style */
    border-radius: 15.633px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.827px solid #5E5E5E;
    background: #303030;
    transition: 100ms;
    outline: none;
}



.GlobalSearch:hover {
    background: #414141;
}

.AddEvent {
    /* Layout */
    justify-self: right;

    display: flex;
    width: 67.13px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    flex-shrink: 0;
    color: white;
    /* Style */
    border-radius: 76.95px;
    border: 0.822px solid #6ABA4E;
    background: #3A881E;
    transition: 200ms;
}

.AddEvent:hover {
    background: #439e22;
}

@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        height: 40px;
        padding-top: 20px;


    }

    .Burger {
        order: -1;
        margin-right: 20px;
    }

    header h1 {
        margin-right: 20px;
    }


    .GlobalSearch {
        width: 200px;
        margin-right: 20px;
    }



}