<DOCTYPE html!>
    <html>
        <head>
            <Title>sign in</Title>
            <link rel="stylesheet" href="css/login.css">

        </head>
        <body>
 
            <div class="registrationContainer">
                <h1>Sign In</h1> 
                <form action="/login" method="post">
                    <label for="email">email:</label><br>
                    <input type="text" id="email" name="email" value="<%= email %>"><br>
                    <% if (err.message === "incorrect email") { %>
                        <p>Incorrect Email</p>
                    <% } %>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" value="<%= password %>">
                    <% if (err.message === "incorrect password") { %>
                        <p>Incorrect Password</p>
                    <% } %>
                    <a href="Forgotpassword.html">Forgot password?</a>
                    <br>
                    <input type="submit" id="submit" value="Sign in">
                    Don't have account? <a href="signup">Sign Up</a>

                </form>
            </div>

        </body>
    </html>
