<!DOCTYPE html>
<html>
    <head>
        <Title>sign Up</Title>
        <link rel="stylesheet" type="text/css" href="sign.css">

    </head>
    <body>
        <header>

        </header>    
            <h1>Sign Up</h1>   
            
        <section>     
            <form action="/signup" method="post">
                
                <label  for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                
                <label for="Email">Email</label><br>
                <input type="email" id="email" name="email"><br>

                <label for="password">Password:</label><br>
                <input type="password"  name="password"><br>
            
                <label for="password">Confirm Password:</label><br>
                <input type="password"  name="passwordCheck"><br>
                <br>
                <button type="submit" id="submit">Submit</button>
                Don't have an account? <a href="sign in.html">Sign in</a>
            </form>
        </section>
        <footer>

        </footer>
    </body>
</html>
