.overlay {
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .9);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: 100ms ;
    
    z-index: 10;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.closeNavigation {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.PopUpBurgerNav {
    display: flex;
    align-items: center;
    flex-direction: column;

    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;

    background: #1A1A1A;

    z-index: 20;
}