.Burgernav {
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;

    opacity: 0;
    backdrop-filter: blur(2px);

    transition: 100ms ;
    z-index: 10;
}

.Burgernav.show {
    visibility: visible;
    opacity: 1;

}

.backToMainFromBurger {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.PopUpBurgerNav {
    background: #1A1A1A;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;

    z-index: 20;
}