@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,400;1,500&display=swap');


.Channel {
    display: flex;
}

.ChannelImage {
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.channelName {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;

}

.descrption {
    display: flex;
    justify-content: center;
}

.Poster {
    width: 100%;
}

.details {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    /* width: fit-content; */
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-right: 10px; */
}

.details label {
    display: flex;
    align-items: center;
    width: auto;
    font-size: small;

    gap: 10px;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.05);
    /* margin-left: 20px; */
    padding: 5px;
}


@media (min-width: 600px) {
    .Events {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        gap: 10px;
    }

    .Event {
        width: 90%;
        border-radius: 10px;
        padding: 10px;
        /* background-color: #111;
        filter: drop-shadow(0px 0px 10px rgb(0, 0, 0)); */

        
    }

    .Event:hover {
        background-color: rgb(23, 23, 23);
        filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    }

    .Poster {
        border-radius: 20px;
    }
}

@media (min-width: 1000px) {
    .Events {
        grid-template-columns: 33% 33% 33%;
    }

}