.filepond--drop-label.filepond--drop-label label {
    position: relative;
    top: 0px;
    left: 0px;

}
.filepond--drop-label.filepond--drop-label label {
    background: #DBDBDB;
}

.filepond--drop-label.filepond--drop-label label {
    width: 100%
}

.filepond--drop-label.filepond--drop-label label

/* .filepond--root .filepond--drop-label {
    background: #1a1a1a;
} */

.filepond--root {
    margin-top: 10px;
}

.filepond--panel-root {
    background-color: #1a1a1a !important;
    border: 10px solid #1a1a1a !important;
}

/* bordered drop area */
/* .filepond--panel-root {
    background-color: transparent;
    border: 2px solid #2c3340;
} */
.filepond--drop-label.filepond--drop-label label {
    border-radius: 10px !important;
}



.filepond--drip {
    opacity: 1 !important;
    background: #1a1a1a !important;
}

/* .filepond--item-panel {
    border-radius: 0 !important;
} */

/* the border radius of the drop area */
.filepond--panel-root {
    border-radius: 10px !important;
}