<DOCTYPE html!>
    <html>
        <head>
            <Title>sign in</Title>
            <link rel="stylesheet" type="text/css" href="signin.css">

        </head>
        <body>
            <div class="signInfo">
                <header>
                    <img class="logo" src="logo.png" alt="">
                            <h1>send Password</h1> 
            </header>    
            <section>
                <form action="/ForgotPassword" method="post">
                    <label for="Email">Email</label><br>
                <input type="email" placeholder="email" id="email" name="email" class="email"><br>
                <input type="submit" id="submit" value="Send a mail">
                <a href="/">  Sign in</a>
                </form>
            </section>
        </div>
            <footer>

            </footer>
        </body>
    </html>