<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="signin.css">

</head>
<body>
    <div class="signInfo">
        <header>
            <img class="logo" src="logo.png" alt=""><br><br>
                    <h1>Incorrect email</h1> <br><br>

                    <h1><a href=/ForgotPassword>Send Password</a></h1>
                    
                    
    
                </header>   
    </div>
    
</body>
</html>